@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

html {
    font-family: 'Manrope', sans-serif;
}

body {
    background-color: whitesmoke;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    66% {
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

i {
    padding: 0 10px;
}